{% extends 'stocks/base.html' %}
{% load static %}
 
{% block page_title %}
    Stocks
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'stocks_list/stockslist.css' %}">
{% endblock %}

{% block content %}
    <div class="stockslist">
        <div>
            <ul>
                {% for stock in stocks %}
                    <li><a href="{% url 'graph' stock.symbol %}">{{ stock.name }}</a></li>
                {% endfor %}
            </ul>
            {% include 'add_stock/add-stock.html' %}
        </div>
        <div>
            {% if graph %}
                <img src="data:image/png;base64, {{ graph|safe }}">
            {% else %}
                <h1>Invalid stock symbol</h1>
            {% endif %}
            <!-- <h3>Side content</h3> -->
        </div>
    </div>
{% endblock %}