{% extends 'stocks/base.html' %}
{% load static %}
 
{% block page_title %}
    Stocks
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'stocks_list/stockslist.css' %}">
{% endblock %}

{% block content %}
    <div class="stockslist">
        <div>
            <ul>
                {% for stock in stocks %}
                    <li><a href="{% url 'graph' stock.symbol default_time %}">{{ stock.name }}</a></li>
                {% endfor %}
            </ul>
            {% include 'add_stock/add-stock.html' %}
        </div>
        <div>
            {% include 'stocks_list/eachstock.html' %}
        </div>
    </div>
{% endblock %}