{% extends 'stocks/base.html' %}

{% block page_title %}
    Remove Stocks
{% endblock %}

{% block content %}
    <h1>Remove Stock</h1>
    {% if error_message %}
        <h3>{{ error_message }}</h3>
    {% endif %}
    <br>
    {% for stock in all_stocks %}
        <form action="{% url 'removestock' %}" method="POST">
            {% csrf_token %}
            <h3>{{ stock.name }} ({{ stock.symbol }})</h3>
            <input type="hidden" value="{{ stock.name }}" name="name">
            <input type="hidden" value="{{ stock.symbol }}" name="symbol">
            <button>Remove</button>
        </form>
        <hr>
    {% endfor %}
    <a href="{% url 'allstocks' %}">Back</a>
{% endblock %}